/* Chart txt */
@media (max-width: 1024px) {
	svg text {
		font-size: 9px;
		font-weight: 800;
	}
}

/* Navigation, Map, Chart*/
@media (max-width: 767px) {
	h1 {
		font-size: 38px;
	}
	/*nAV*/
	.nav-item:after {
		display: none;
	}

	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
	}
	/* Map */
	#map {
		transform: scale(0.55);
		height: 60vh;
		margin-top: -100px;
	}

	.attribute-list li .chart-label {
		display: none;
	}

	.attribute-list li .progress-bar {
		font-size: 15px;
	}

	.attribute-list {
		padding: 0;
	}

	.attribute-list li .progress {
		width: 100%;
	}
	/* Chart */
	#chartdiv {
		margin-top: -100px;
	}
	/* Safety tabs */
	.tabset>label {
		padding: 15px 0px 25px;
	}
}

@media only screen and (max-width: 1919px) {
	body {
		font-size: 20px;
	}
}

@media screen and (max-width: 1020px) {
    .card {
        width: 100%;
        height: 150;
        background: #fff;
        display: inline-block;
        margin: 5px 0px !important;
        text-align: center;
        transition: 0.8s;
        box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
            -7px -7px 20px rgba(255, 255, 255, 1),
            inset 0px 0px 4px rgba(255, 255, 255, 0.2),
            inset 7px 7px 15px rgba(55, 84, 170, 0),
            inset -7px -7px 20px rgba(255, 255, 255, 0),
            0px 0px 4px rgba(255, 255, 255, 0);
        transition: 0.8s;
    }

    .title-n {
        font-size: 20px;
    }
}

@media screen and (max-width: 1020px) {
    .card2 {
        width: 100%;
        height: 150;
        background: #fff;
        display: inline-block;
        margin: 5px 0px !important;
        text-align: center;
        transition: 0.8s;
        box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
            -7px -7px 20px rgba(255, 255, 255, 1),
            inset 0px 0px 4px rgba(255, 255, 255, 0.2),
            inset 7px 7px 15px rgba(55, 84, 170, 0),
            inset -7px -7px 20px rgba(255, 255, 255, 0),
            0px 0px 4px rgba(255, 255, 255, 0);
        transition: 0.8s;
    }
}